*{  box-sizing: border-box;
    color:black;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   cursor:default;
}

body{
	background-color: #e6e6ff

}


/** Encabezado fijo*/

header {
	background-color: #6666ff;
    position: fixed;
    top: 0;
    left: 0;
   width: 100%;
   font-weight: bold;
   
  
 }


header,a{
	
	
	color:white;
	margin:2px;
	font-size:18px;
	cursor: pointer;
	text-decoration: none;
    padding:7px; 

}


a:hover{
	color: black;

}


/** Eventos*/

	
.ocultar{
    
	display:none;
}

.mostrar{
	display:block;
}

/** INDEX*/


p{
	margin:20px;
}

.encabezado {
    
	display:flex;
	align-items: center;
    background-color: #ccd9ff;
    padding:10px;
	 
}

.imagen{
	margin-top: 30px;
	padding: 2px;

}
.nombre{
	margin-left: 15px;
	padding:2px;
	
}


h1{
    padding-top: 30px;
	color:#000080;
	font-size: 24px;
}

.columna-1{
	float:left;
    width:50%; 
    padding:5px;
    
}

.columna-2{
	width: 50%
	padding:5px;
	
}

.contenedor{
	
	padding:10px;
}

div ul{
	margin:10px;
}

button{
	background-color: #6666ff;
	border-radius: 5px ;
	color:white;
	border:2px ;
	margin:10px;
	font-size:16px, bold;
	cursor: pointer;
}


 h2{
    margin:20px;
    color:#000080;
}


/** Formulario*/

.formu {
    width:400px;
    padding:30px;
    margin:auto;
    margin-top:50px;
    border-radius: 5px;
    border-color: #6666ff;    
}

.controls{
         width:100%;
         background-color: #e6e6ff;
         padding:10px;
         border-radius: 4px;
         margin-bottom:5px;
         border: 1px solid #6666ff;
         font-size: 16px;
         cursor: pointer;
}



.formu h2{
	padding:3px;
	text-align:center;
	
}

.formu p{
	padding:3px;
	text-align:center;

}
.formu .formuboton{
     width:40%;
     background: #6666ff;
     border:none;
     padding:6px;
     font-weight: bold;
     margin:10px;
     cursor: pointer;
}


/** Portfolio*/

.foto{
	
	width:200px;
	height:230px;
	padding:20px;
}
	
.fotos1 {
	margin:0px auto;


}	
.fotos2{
	margin:0px auto;
}

	


